
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.page {
    background-color: red;
    height: 1090px;
    width: 790px;
    position: relative;

}

.row {
    background-color: grey;
    height: 545px;
    width: 790px;
}
.row-2 {
    position: absolute;
    top: 545px;
}
.item {
    background-color: blue;
    height: 500px;
    width: 250px;
    display: inline-block;
    border-radius: 5px;
}
